<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>
    <nav th:replace="fragments/nav :: nav-admin"></nav>
    <div class="container-fluid">
        <h4 class="display-4">Edit Tag</h4>
        <a href="/admin/tag" class="btn btn-primary">Back to tag</a>
        <div th:if="${message}" th:text="${message}" th:class="'alert mt-5 '+${alertClass}" ></div>
        <form method="post" th:object="${tag}" th:action="@{/admin/tag/edit}">

            <div  th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                Error occured. Please try again.
            </div>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" th:field="*{name}"  placeholder="Name"/>
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
           <input type="hidden" th:field="*{id}" th:value="${tag.id}">
            <button class="btn btn-danger mt-5">Edit</button>
        </form>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>