                    
                    
<div  th:fragment="profile-side-menu"  class="col-3 d-flex flex-column align-items-center">
    <div class="profileUserCircle">
        <p th:text="C"></p>
    </div>
    <h6 center>Colormaa</h6>
    <ul class="list-group w-100 mt-5">
        <li class="list-group-item"><a class="mylink" href="/profile">Profile</a> </li>
        <li class="list-group-item"><a class="mylink" href="/accountSecurity">Account Security</a> </li>
        <li class="list-group-item"><a class="mylink" href="">Close Account</a> </li>
    </ul>
</div>