<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>
    <nav th:replace="fragments/nav :: nav-client"></nav>
        <div class="container">
           <div class="row" th:if="${subCategories}"> 
            <div class="col-12">
                <div th:each="subCategory:${subCategories}">
                    <a th:href="@{'/category/'+${subCategory.name}}" th:text="${subCategory.name}" class="btn btn-secondary"></a>
                </div>
            </div>
           </div>
            <div class="row">
                <div class="col-9 ">
                    <h5 class="h4 col-12 text-capitalize" th:text="${categoryName}"></h5>
                    <div class="row">
                        <div class=" col-6 col-sm-6 col-md-4 col-lg-4 " th:each="blogCat:${blogsByCat}">
                            <div class="card bycat border-0">
                                <img th:src="@{'/media/'+${blogCat.image}}" class="card-img-top" alt="...">
                                <div class="card-body px-0 d-flex flex-column align-items-start justify-content-between">
                                  <div>

                                  <h6 class="card-title text-capitalize" th:text="@{${blogCat.title}+''}"></h6>
                                  
                                   <small>
                                    <p class="card-text text-muted "  th:text="${blogCat.brief}">
                                    </p>
                                   </small> 
                                </div>
                                 
                                <a th:href="@{'/detail/'+${blogCat.slug}}" class="btn btn-primary btn-sm" th:text="@{'Read More'}"></a>
                               
                                </div>
                            </div>
                        </div>

                    </div>

                        
                </div>
                <div class="col-3">
                    <h4 class="h4 text-primary">Latest News</h6>
                    
                    <div class=" mb-4">
                        <div class="card border-0">
                            <img th:src="@{'/media/'+${latest.image}}" class="card-img-top" alt="...">
                          
                        <div class="card-body p-0">
                            <h5  class="card-title h6" th:text="${latest.title}"></h5>
                            <small><p class="card-text text-muted"  th:text="${latest.brief}"></p></small>
                            <strong><a th:href="@{'/detail/'+${latest.slug}}" class="mylink" th:text="@{'Read in '+${latest.minutes?:'2'}+' minutes'}"></a></strong>
                        </div>
                        </div>

                    </div>
                    <div th:each="item23: ${latest23}" class=" mb-4">
                        <div class="card border-0">
                            <img th:src="@{'/media/'+${item23.image}}" class="card-img-top" alt="...">
                            
                        <div class="card-body p-0">
                            <h5  class="card-title h6" th:text="${item23.title}"></h5>
                            <small><p class="card-text text-muted"  th:text="${item23.brief}"></p></small>
                            <strong><a th:href="@{'/detail/'+${item23.slug}}" class="mylink" th:text="@{'Read in '+${item23.minutes?:'2'}+' minutes'}"></a></strong>
                        </div>
                        </div>
                    </div>
                    <h4 class="h4 text-primary">Most Read</h6>
                    <div th:each="readItem: ${blogMostRead}" class=" mb-4">
                        <div class="card border-0">
                            <img th:src="@{'/media/'+${readItem.image}}" class="card-img-top" alt="...">
                            <div class="card-body p-0">
                                <h5  class="card-title h6" th:text="${readItem.title}"></h5>
                                <small><p class="card-text text-muted"  th:text="${readItem.brief}"></p></small>
                                <strong><a  th:href="@{'/detail/'+${readItem.slug}}" class="mylink" th:text="@{'Read in '+${readItem.minutes?:'2'}+' minutes'}"></a></strong>
                            </div>
                        </div>
                    </div>
                        
                      
                </div>
            </div>
        </div>
     
            
    <footer th:replace="fragments/footer"></footer>
</body>
</html>