<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>
    <nav th:replace="fragments/nav :: nav-client"></nav>
    <div class="container">
        <div class="row">
            <div th:if="${blog}" class="col-10 mx-auto">
                <div class="blogItem">
                    <img th:if="${blog.image}" th:src="${blog.image}" alt="">
                    <a th:href="@{'/detail/'+${blog.slug}}"><h4 class="display-6" th:text="${blog.title}"></h4></a>
                <p class="subInfo">
                    <span class="author">By Author</span>
                    <span class="separator">|</span>
                    <span class="datetime" th:text="${#temporals.format(blog.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
                    <div class="content-full">
                        <p th:utext="${blog.content}"></p>
                    </div>
                   
                    <p class="category"><span th:text="'#'+${categoryName}"></span></p>
                    <div class="end"></div>
                </div>
            </div>
            <!-- <div class="col-5 mx-auto ">
                <div class="blogItem blogItem2" th:each="blog:${blogs}">
                    <img th:if="${blog.image}" th:src="@{'/media/'+${blog.image}}" alt="">
                    <h4 class="display-6" th:text="${blog.title}"></h4>
                    <p class="subInfo">
                        <span class="author">By Author</span>
                        <span class="separator">|</span>
                        <span class="datetime" th:text="${#temporals.format(blog.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                    </p>
                    <div class="content--brief">
                        <p th:text="${blog.brief}"></p>
                    </div>
                   
                    <p class="category"><span th:text="'#'+${cats[__${blog.categoryId}__]}"></span></p>
                    <div class="end"></div>
                </div>
            </div> -->
            
        </div>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>