<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>
    <nav th:replace="fragments/nav :: nav-client"></nav>
    
        
            <div th:if="${latest}" class="latestItem">
                <div class="imageDiv">
                    <img th:src="${latest.image}" alt="">
                    <div class="latestItemGradient"></div>
                </div>
                <div class="container h-100 lastItemText d-flex flex-column justify-content-end">
                    <div class="row">
                        <div class="mb-5 col-6">
                            <h1 class="h1" th:text="${latest.title}"></h1>
                            <div class="mb-3 text-muted" th:text="${latest.subtext}"></div>
                            <a th:href="@{'/detail/'+${latest.slug}}" class="btn btn-primary mb-3">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row py-5 my-5">
                    <div class="col-9 row "> 
                        <div th:each="item23: ${latest23}" class="col-6 ">
                            <div class="card border-0">
                                <img th:src="${item23.image}" class="card-img-top" alt="...">
                                <div class="card-body px-0">
                                  <h5 class="card-title" th:text="${item23.title}"></h5>
                                  <p class="card-text"  th:text="${item23.brief}"></p>
                                  <a th:href="@{'/detail/'+${item23.slug}}" class="btn btn-primary">Read Article</a>
                                </div>
                            </div>
                            
                          </div>
                    </div>
                    <div class="col-3 pt-2">
                        <div th:each="readItem: ${blogMostRead}" >
                            <div class=" mb-4">
                                <div class="card-body">
                                  <h5  class="card-title h6" th:text="${readItem.title}"></h5>
                                  <small><p class="card-text text-muted"  th:text="${readItem.brief}"></p></small>
                                  <strong><a th:href="@{'/detail/'+${readItem.slug}}" class="mylink" th:text="@{'Read in '+${readItem.minutes?:'2'}+' minutes'}"></a></strong>
                                </div>
                            </div>
                            
                          </div>
                    </div>
                </div>
                
            </div>
                <div class="container"  th:each="blogByCats: ${blogByCategories}">
                    <div th:if="${blogByCats.value.size()>0}"   class="w-100 mb-2 d-flex ustify-content-between">
                        <h5 class="me-auto h5 text-capitalize"  th:text="${cats[__${blogByCats.key}__]}"></h5>
                        <strong> <a class="mylink"   th:href="@{'/category/'+ ${cats[__${blogByCats.key}__]}}">See all</a></strong>
                    </div>
                    
                    <div class="row">
                        <div class=" col-6 col-sm-6 col-md-3 col-lg-3 " th:each="blogCat:${blogByCats.value}">
                            <div class="card bycat border-0">
                                <img th:src="${blogCat.image}" class="card-img-top" alt="...">
                                <div class="card-body px-0 d-flex flex-column align-items-start justify-content-between">
                                  <div>

                                  <h5 class="card-title text-capitalize" th:text="@{${blogCat.title}+''}"></h5>
                                  
                                    <p class="card-text "  th:text="${blogCat.brief}">
                                    </p>
                                </div>
                                 
                                <strong><a th:href="@{'/detail/'+${blogCat.slug}}" class="mylink" th:text="@{'Read in '+${blogCat.minutes?:'2'}+' minutes'}"></a></strong>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            
        
    <!--
    <div class="container">
       
        <div class="row">
            <div class="col-3 ">
                <div th:text="${#lists.size(blogsLast)}" > empty last blogs</div>
                <div class="blogItem blogItem2" th:each="blog:${blogsLast}">
                    <img th:if="${blog.image}" th:src="@{'/media/'+${blog.image}}" alt="">
                    <a th:href="@{'/detail/'+${blog.slug}}"><h4 class="display-6" th:text="${blog.title}"></h4></a>
                <p class="subInfo">
                    <span class="author">By Author</span>
                    <span class="separator">|</span>
                    <span class="datetime" th:text="${#temporals.format(blog.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
                    <div class="content--brief">
                        <p th:text="${blog.brief}"></p>
                    </div>
                   
                    <p class="category"><span th:text="'#'+${cats[__${blog.categoryId}__]}"></span></p>
                    <div class="end"></div>
                </div>
            </div>
            
            
        </div>
    </div>
-->
    <footer th:replace="fragments/footer"></footer>
</body>
</html>